
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans";
  color: var(--blue);
  font-size: 1em;
  background-color: #eee;
}

svg {
  width: 100%;
  visibility: hidden;
}

h1 {
  font-size: 7.5em;
  margin: 8px 0px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
  color: #dc3545;
  text-align: center;
}
